/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  color: var(--white);
  text-decoration: none;
}

:root {
  --dark-grey: #1b1b32;
  --light-grey: #2d2d44;
  --black: #000;
  --white: #fff;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
}

body {
  background-color: var(--dark-grey);
  color: var(--white);
}

.title {
  width: 100%;
  height: clamp(90px, 10vw, 120px);
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: clamp(22px, 2.8vw, 40px);
  font-family:
    irish grover,
    cursive;
  letter-spacing: 10%;
}

footer {
  width: 100%;
  height: 70px;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family:
    irish grover,
    cursive;
  font-size: clamp(15px, 2vw, 20px);
  letter-spacing: 10%;
  padding: 20px 2%;
}
.small-title {
  background:
    linear-gradient(to bottom right, #440155 0%, #790a94 25%, #000 50%) bottom
      right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #440155 0%, #790a94 25%, #000 50%) bottom
      left / 50% 50% no-repeat,
    linear-gradient(to top left, #440155 0%, #790a94 25%, #000 50%) top left /
      50% 50% no-repeat,
    linear-gradient(to top right, #440155 0%, #790a94 25%, #000 50%) top right /
      50% 50% no-repeat;
}
.links a {
  margin-left: 25px;
}

/* Home page styles */
.cards-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 70px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.card {
  width: 65%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: clamp(10px, 3vw, 30px);
}
.home-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/*universal styles for other pages*/
.sub-title {
  width: 100%;
  height: clamp(90px, 10vw, 100px);
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-title h1 {
  font-size: clamp(20px, 2.5vw, 30px);
  font-family:
    irish grover,
    cursive;
}

/* Description page styles */
.upper {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.cover-image {
  width: clamp(200px, 25vw, 285px);
  height: clamp(275px, 35vw, 400px);
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-image img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.story-info {
  width: 500px;
  height: 250px;
  font-family:
    irish grover,
    cursive;
  font-size: 1.2rem;
  color: var(--yellow);
  letter-spacing: 10%;
  padding-top: 20px;
}
.story-info p {
  font-family: itim, cursive;
  font-size: 1.1rem;
}
.story-info .btn {
  width: clamp(120px, 15vw, 160px);
  height: clamp(35px, 3vw, 40px);
  border-radius: 20px;
  border: 1px solid var(--black);
  background-color: var(--dark-orange);
  font-family:
    irish grover,
    cursive;
  font-size: clamp(15px, 2vw, 20px);
  position: relative;
  top: 30px;
}
.story-info .btn:hover {
  background-image: linear-gradient(
    to right,
    var(--dark-orange),
    var(--yellow)
  );
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}

.description {
  display: flex;
  width: 95%;
  max-width: 1000px;
  margin: 50px auto;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 10px;
  padding: 30px 50px;
}
.description-title {
  font-family:
    irish grover,
    cursive;
  font-size: 1.3rem;
  color: var(--yellow);
  letter-spacing: 10%;
}
.story-description {
  font-family: itim, cursive;
  font-size: clamp(16px, 2vw, 20px);
  color: var(--white);
  line-height: 1.5;
}

/*Reading page styles*/
.breadcrumb {
  width: 100%;
  height: 50px;
  align-items: left;
  font-family:
    irish grover,
    cursive;
  font-size: 20px;
  letter-spacing: 10%;
  padding: 20px 100px;
}
.breadcrumb a {
  color: var(--yellow);
}

.story-content {
  width: 800px;
  border-radius: 10px;
  background: var(--black, #000);
  padding: 50px;
  margin: 20px auto;
}
.story-content p {
  font-family: lora, sans-serif;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--white);
}

.navigation {
  width: 100%;
  display: inline-flex;
  padding: 0 clamp(15px, 10%, 162px);
  justify-content: center;
  align-items: flex-start;
  gap: clamp(30px, 20vw, 340px);
  margin-top: 10px;
  margin-bottom: 30px;
}
.navigation button,
.navigation p {
  color: var(--white);
  font-family: "Irish Grover";
  font-size: clamp(16px, 2vw, 20px);
  letter-spacing: 2px;
}
.navigation p {
  color: var(--yellow);
}
#page-number {
  color: var(--white);
}

/*about page styles*/
.author {
  width: 100%;
  font-family:
    irish grover,
    cursive;
  font-size: clamp(20px, 2.5vw, 30px);
  color: var(--yellow);
  letter-spacing: 10%;
  text-align: center;
  margin: 10px auto 30px auto;
}

.about-content {
  width: 800px;
  border-radius: 10px;
  background: var(--black, #000);
  padding: 30px;
  margin: 30px auto;
}
.about-content p {
  font-family: itim, cursive;
  font-size: clamp(16px, 1.8vw, 18px);
  line-height: 1.6;
  letter-spacing: 5%;
  margin-bottom: 20px;
  color: var(--white);
}

.gmail {
  color: var(--yellow);
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    padding-right: 0;
    padding-left: 0;
  }
  .card {
    width: 85%;
    height: 230px;
  }

  .upper {
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }

  .story-info {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .description {
    margin-top: 70px;
    padding: 20px 30px;
  }

  .breadcrumb {
    padding: 20px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .story-content {
    width: 95%;
    padding: 25px 15px;
  }

  .about-content {
    width: 95%;
    padding: 20px 15px;
  }
}
