/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  color: var(--text);
  text-decoration: none;
}

:root {
  --bg: #1b1b32;
  --border: #2d2d44;
  --primary: #000;
  --text: #fbf4e6;
  --secondary: #ffcc4c;
  --accent: #f89808;
}

[data-theme="light"]{
  --text: #000;
  --bg: #f7f3f9;
  --primary: #e7e7ff;
  --secondary: #e41b79;
  --border: #cdcde4;
  --accent: #f79708;
}

[data-theme="light"] body {
  background-image: url('/covers/bg-light.png');
}

[data-theme="dark"] body {
  background-image: url('/covers/background.png');
}

body {
  background: var(--bg);
  background-image: url("/covers/background.png");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat; 
  height: 100vh;        
  background-attachment: fixed;         
  color: var(--text);
}

.title {
  width: 100%;
  height: clamp(90px, 10vw, 120px);
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
}
.left-area {
  position: relative;
  flex: 1;
}
.right-area {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}
.dropdown{
  position:relative;
}

.dropdown button{
  width:100%;
  color:var(--text);
  border:none;
  background:none;
  font-size: clamp(22px, 2.5vw, 28px);
  cursor:pointer;
  padding:15px;
  font-family:
    irish grover,
    cursive;
}

.menu{
  position:absolute;
  top:100%;
  right: 20px;
  width: 150px;
  margin-top:4px;
  padding:0;
  list-style:none;
  border:1px solid var(--border);
  background:var(--bg);
  font-family: irish grover, cursive;
}

.menu li{
  padding:12px;
  cursor:pointer;
}

.menu li:hover,
.menu li:focus{
  background:rgba(0,0,0,0.08);
  outline:none;
}

[hidden]{
  display:none;
}

.title h1 {
  font-size: clamp(22px, 2.8vw, 40px);
  font-family:
    irish grover,
    cursive;
  letter-spacing: 10%;
  text-align: center;
}

footer {
  width: 100%;
  height: 70px;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family:
    irish grover,
    cursive;
  font-size: clamp(15px, 2vw, 20px);
  letter-spacing: 10%;
  padding: 20px 2%;
  border-top: 1px solid var(--border);
}
.footer-title {
  background:
    linear-gradient(to bottom right, #440155 0%, #790a94 25%, var(--bg) 50%) bottom
      right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #440155 0%, #790a94 25%, var(--bg) 50%) bottom
      left / 50% 50% no-repeat,
    linear-gradient(to top left, #440155 0%, #790a94 25%, var(--bg) 50%) top left /
      50% 50% no-repeat,
    linear-gradient(to top right, #440155 0%, #790a94 25%, var(--bg) 50%) top right /
      50% 50% no-repeat;
}
.links a {
  margin-left: 25px;
}

/*universal styles for other pages*/
.sub-title {
  width: 100%;
  height: clamp(90px, 10vw, 100px);
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
}
.sub-title h1 {
  font-size: clamp(20px, 2.5vw, 30px);
  font-family:
    irish grover,
    cursive;
    text-align: center;
}

/* Home page styles */
.cards-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.card {
  width: 65%;
  height: clamp(250px, 30vw, 350px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}

.home-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.4s ease;
}
.card:hover img{
  transform: scale(1.1);
}

/* Description page styles */
.upper {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.cover-image {
  width: clamp(200px, 25vw, 285px);
  height: clamp(275px, 35vw, 400px);
  background-color: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-image img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.story-info {
  width: 500px;
  height: 250px;
  font-family:
    irish grover,
    cursive;
  font-size: 1.2rem;
  color: var(--secondary);
  letter-spacing: 10%;
  padding-top: 20px;
}
.story-info p {
  font-family: itim, cursive;
  font-size: 1.1rem;
}
.story-info .btn {
  width: clamp(120px, 15vw, 160px);
  height: clamp(35px, 3vw, 40px);
  border-radius: 20px;
  border: 1px solid var(--primary);
  background-color: var(--accent);
  font-family:
    irish grover,
    cursive;
  font-size: clamp(15px, 2vw, 20px);
  position: relative;
  top: 30px;
  transition: all ease 0.4s;
}
.story-info .btn:hover {
  background: var(--primary);
  transform: scale(1.05);
  color: var(--secondary);
  border: 1px solid var(--border);
}

.description {
  display: flex;
  width: 95%;
  max-width: 1000px;
  margin: 50px auto;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 30px 50px;
}
.description-title {
  font-family:
    irish grover,
    cursive;
  font-size: 1.3rem;
  color: var(--secondary);
  letter-spacing: 10%;
}
.story-description {
  font-family: itim, cursive;
  font-size: clamp(16px, 2vw, 20px);
  color: var(--text);
  line-height: 1.5;
}

/*Reading page styles*/
.breadcrumb {
  width: 100%;
  height: 50px;
  align-items: left;
  font-family:
    irish grover,
    cursive;
  font-size: 20px;
  letter-spacing: 10%;
  padding: 20px 100px;
}
.breadcrumb a {
  color: var(--secondary);
}

.story-content {
  max-width: 800px;
  width: 90%;
  border-radius: 10px;
  background: var(--primary);
  padding: 50px;
  margin: 20px auto;
}
.story-content p {
  font-family: lora, sans-serif;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--text);
}

.navigation {
  width: 100%;
  display: inline-flex;
  padding: 0 clamp(15px, 10%, 162px);
  justify-content: center;
  align-items: flex-start;
  gap: clamp(30px, 20vw, 340px);
  margin-top: 10px;
  margin-bottom: 30px;
}
.navigation button,
.navigation p {
  color: var(--text);
  font-family: "Irish Grover";
  font-size: clamp(16px, 2vw, 20px);
  letter-spacing: 2px;
}
#prev-btn:hover,
#next-btn:hover {
  color: var(--secondary);
}
.navigation p {
  color: var(--secondary);
}
#page-number {
  color: var(--text);
}


/*about page styles*/
.author {
  width: 100%;
  font-family:
    irish grover,
    cursive;
  font-size: clamp(20px, 2.5vw, 30px);
  color: var(--secondary);
  letter-spacing: 10%;
  text-align: center;
  margin: 10px auto 30px auto;
}

.about-content {
  max-width: 800px;
  width: 90%;
  border-radius: 10px;
  background: var(--primary);
  padding: 30px;
  margin: 30px auto;
}
.about-content p {
  font-family: itim, cursive;
  font-size: clamp(16px, 1.8vw, 18px);
  line-height: 1.6;
  letter-spacing: 5%;
  margin-bottom: 20px;
  color: var(--text);
}

.gmail {
  color: var(--secondary);
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    padding-right: 0;
    padding-left: 0;
  }
  .card {
    width: 85%;
    height: 230px;
  }

  .upper {
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }

  .story-info {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .description {
    margin-top: 70px;
    padding: 20px 30px;
  }

  .breadcrumb {
    padding: 20px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .story-content {
    width: 95%;
    padding: 25px 15px;
  }

  .about-content {
    width: 95%;
    padding: 20px 15px;
  }
}

@media (max-width: 800px) {
  .card {
    width: 85%;
    height: 180px;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 85%;
    height: 240px;
  }
}
